# Tuple

* A tuple is similar to list

* The difference between list and tuple is that we cannot change the elements of tuple once it is assigned  whereas in the list, elements can be changed

## Tuple Creation

In [2]:
# Empty Tuple

tuple1 = ()

print(type(tuple1))

<class 'tuple'>

In [3]:


tuple2 = (3,5,2,7,5) # Integer Tuple

tuple3 = (3.6,5.3,2.6,7,5.4) # Float Tuple

tuple4 = ('one', 'two', 'five', 'zero') # String Tuple

tuple5 = (3,5,'two',7+4j,5.9) # Mix datatype Tuple

In [4]:
for ele in tuple5:
    print(type(ele))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'complex'>
<class 'float'>

In [5]:
tuple5[0] = 2.3

TypeError: 'tuple' object does not support item assignment

In [6]:
tuple6 = ('CourseMantra')
print(type(tuple6))

<class 'str'>

In [7]:
tuple6 = ('CourseMantra',)
print(type(tuple6))

<class 'tuple'>

In [8]:
tuple6.

AttributeError: 'tuple' object has no attribute 'append'

In [11]:
tuple7 = (2,5,1,6,'one',[4,2,[6,'two']])

In [12]:
tuple7[0]=1

TypeError: 'tuple' object does not support item assignment

In [13]:
tuple7[5][1]=1

In [14]:
print(tuple7)

(2, 5, 1, 6, 'one', [4, 1, [6, 'two']])

## Tuple Deletion

In [15]:
# We cannot change or delete any element from tuple

# We can delete whole tuple onkly

del tuple7

In [16]:
print(tuple7)

NameError: name 'tuple7' is not defined

## Tuple Count

In [3]:
t = (2,5,2,7,5,6,87,3)

t.count(2) # Get the frequency of element appears in tuple

2

## Tuple Index

In [4]:
t = (2,5,2,7,5,6,87,3)

t.index(2)

0

## Tuple Membership

In [7]:
if 50 in t:
    print('True')
else:
    print('False')

False

## Tuple Function

In [8]:
# Length of Tuple

print(len(t))

8

In [9]:
new_t = sorted(t)
print(new_t)

[2, 2, 3, 5, 5, 6, 7, 87]

In [10]:
new_t[0]=100
print(new_t)

[100, 2, 3, 5, 5, 6, 7, 87]

In [11]:
print(min(new_t))
print(max(new_t))
print(sum(new_t))

2
100
215