# Python Input and Output

# Python Output

We use the print() function to output data to the standard output device

In [9]:
print("Hello World")

Hello World

In [10]:
print("India", "Pakistan", "Germany", "Sri-Lanka")

India Pakistan Germany Sri-Lanka

In [11]:
print("India", "Pakistan", "Germany", "Sri-Lanka",sep='/')

India/Pakistan/Germany/Sri-Lanka

In [12]:
print("India", "Pakistan", "Germany", "Sri-Lanka",sep='-')

India-Pakistan-Germany-Sri-Lanka

In [13]:
print("Hello")
print("World")

Hello
World

In [14]:
print("Hello", end=' ')
print("World")

Hello World

In [17]:
a = 10
print("The value of a is", a) #python 3

The value of a is 10

# Output Formatting

In [18]:
a = 10; b = 20 #multiple statements in single line.

print("The value of a is {} and b is {}".format(a, b))    #default

The value of a is 10 and b is 20

In [19]:
a = 10; b = 20  #multiple statements in single line

print("The value of b is {1} and a is {0}".format(a, b)) #specify position of arguments

The value of b is 20 and a is 10

In [20]:
#we can use keyword arguments to format the string
print("Hello {name}, {greeting}".format(name="satish", greeting="Good Morning"))

Hello satish, Good Morning

In [21]:
#we can combine positional arguments with keyword arguments
print('The story of {0}, {1}, and {other}'.format('Bill', 'Manfred',
                                                       other='Georg'))

The story of Bill, Manfred, and Georg

# Python Input

want to take the input from the user. In Python, we have the input() function to allow this.

In [22]:
input()

23

'23'

In [24]:
variable_10 = input() # Input function always take input value as string

11

In [25]:
print(type(variable_10))

<class 'str'>

In [26]:
Result1 = variable_10 + 20
print(Result1)

TypeError: can only concatenate str (not "int") to str

In [27]:
Result1 = variable_10 + '20'
print(Result1)

1120

In [28]:
variable_11 = int(variable_10)
print(type(variable_11))

<class 'int'>

In [29]:
variable_12 = variable_11 + 20
print(variable_12)

31

In [31]:
num = input("Enter a number: ")
print(num)

Enter a number: 89
89